@use '@angular/material' as mat;


html {

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,      
    ));


  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%; 
  // overscroll-behavior-y: contain;
  background-color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;  
}

.dark-theme {
  color-scheme: dark;
  // @include mat.theme((    
  //   color: (
  //     primary: mat.$cyan-palette,
  //   ),
  // ));
  --bg-color: rgb(0, 0, 0);
  // background-color: var(--bg-color);
  // --sidenav-bg: mat.get-color-from-palette($dark-theme.color.background-color);
   @include mat.sidenav-overrides((
  content-background-color: var(--bg-color),
  container-background-color:  var(--bg-color),
  ));
  
  @include mat.dialog-overrides((    
    container-color: rgb(64, 64, 64),
    // subhead-color: red,
  ));
   @include mat.card-overrides((
    elevated-container-color: rgb(37, 37, 37),
    // elevated-container-elevation: red,
  ));

  @include mat.expansion-overrides((
    // actions-divider-color: orange,
    container-background-color: rgb(37, 37, 37),
  ));

  mat-sidenav {
  // background-color: var(--sidenav-bg);
  background-color: rgb(80, 80, 80);
}
}

.light-theme {
  color-scheme: light;
  --bg-color: rgb(255, 255, 255);  
  // background-color: var(--bg-color);
  //  --sidenav-bg:  mat.get-color-from-palette($light-theme.color.background-color);
  @include mat.sidenav-overrides((
  content-background-color: var(--bg-color),
  container-background-color:  var(--bg-color),
  ));

  
  @include mat.dialog-overrides((    
    container-color: rgb(219, 219, 219),
    // subhead-color: red,
  ));

   @include mat.card-overrides((
    elevated-container-color: rgb(244, 244, 244),
    // elevated-container-elevation: red,
  ));

   @include mat.expansion-overrides((
    // actions-divider-color: orange,
    container-background-color: rgb(244, 244, 244),
  ));

   mat-sidenav {
  // background-color: var(--sidenav-bg);
  background-color: rgb(232, 232, 232);
}
}

:root {
 
  @include mat.sidenav-overrides((
    // container-shape: 30px,
    container-elevation-shadow: 5,
    // container-divider-color:  solid,
    container-width: 290px,
    
      // container-background-color: transparent,
      content-background-color: transparent,      
      // container-text-color: black,
      //  content-text-color: black  
    ));
  @include mat.button-overrides((
    text-container-height: 35px,
    tonal-container-height: 35px,
    outlined-container-height: 35px,
    filled-container-height: 35px,
    ));
   @include mat.toolbar-overrides((
    container-background-color: transparent,
      // container-text-color: black,
    ));

  @include mat.list-overrides(( 
    // active-indicator-color: orange,
      // active-indicator-shape: red,   
      // list-item-label-text-color: black,
      list-item-label-text-size: 18px,
      
    ));

   

    @include mat.form-field-overrides((
    // container-height : 20px,
    // container-text-line-height: 20px,
    // filled-with-label-container-padding-top:20px,
    // filled-with-label-container-padding-bottom:20px,
    // disabled-input-text-placeholder-color: orange,
    // disabled-leading-icon-color: red,
    
  ));

  


 }



// mat-form-field {
//   padding-right: 3px;
//   padding-left: 3px;
// }

.my-custom-snackbar {
  text-align: center;
  margin: 0 auto !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  /* right: 25px; */
  /* top: 9px; */
}

mat-card {
  padding-left: 5px;
  padding-right: 5px;
}

mat-card-header {
  margin-bottom: 15px;
}

mat-form-field {  
  width: 100%;
}

.container-center {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.mat-card-width {
  width: calc(100% - 20px);
}

.spacer {
  flex: 1 1 auto;
}