<div class="container-center">
  <mat-card class="mat-card-width">
    <mat-card-header>
      <mat-card-title>Dasboard</mat-card-title>
    </mat-card-header>
    <mat-grid-list [cols]="layout.totalCols()" rowHeight="85px">    
      <mat-grid-tile [colspan]="layout.colSpan().colspan_1" [rowspan]="1">
         <mat-form-field appearance="outline">
          <mat-label>input</mat-label>
              <input matInput type="text" />
              <mat-hint>hello</mat-hint>
            </mat-form-field>       
      </mat-grid-tile> 
      <mat-grid-tile [colspan]="layout.colSpan().colspan_2" rowspan="1">
        <mat-form-field appearance="outline">
              <input matInput type="text" />
            </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="layout.colSpan().colspan_3" rowspan="1">
        <mat-form-field appearance="outline">
              <input matInput type="text" />
            </mat-form-field>
      </mat-grid-tile>
  </mat-grid-list>
   @if(ff.hasValue()) {
  @for(gg of ff.value(); track $index){
  {{gg.username}} {{gg.first_name}} {{gg.last_name}} {{gg.email}}
  }
 } @else if (ff.error()) {
  <div>Could not load user information</div>
} @else if (ff.isLoading()) {
  <div>Loading user info...</div>
}
{{selectedCompany.id}}

  </mat-card>
</div>
